@import "tailwindcss";
@import "tw-animate-css";

 

@keyframes glowParticles {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000px 1000px;
  }
}

.bg-neon-particles {
  background-image: radial-gradient(#4daf71 1px, transparent 1px),
                    radial-gradient(#00ffea 1px, transparent 1px);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
  animation: glowParticles 60s linear infinite;
  filter: brightness(0.6) saturate(2);
  z-index: -1;
}

 

